@import url('./base.css');

:root {
  --background-gradient: linear-gradient(to bottom, rgb(163, 37, 119), rgb(219, 51, 84));
  --text-color-primary: #000000;
  --banner-overlay-color: rgba(0, 0, 0, 0.3);
  --banner-title-color: #ffffff;
  --menu-background-color: #ffffff;
  --menu-brand-color: rgb(150, 16, 150);
  --menu-toggle-color: #6e1871;
  --menu-link-color: rgb(14, 8, 14);
  --menu-link-hover-color: #6e1871;
  --mode-toggle-background: #414344;
  --mode-toggle-text-color: #ffffff;
  --mode-toggle-hover-background: #ff4655;
  --accueil-link-color: #000000;
  --heading-color: #ffffff;
  --presentation-title-gradient: linear-gradient(180deg, #720000 19.46%, #d80000 39.93%);
  --presentation-title-fill: #681616;
  --presentation-text-color: #ffffff;
  --main-paragraph-color: #ffffff;
  --section-heading-color: #ffffff;
  --actualite-title-color: #000000;
  --actualite-date-color: #000000;
  --link-color: #000000;
  --secondary-heading-color: rgb(106, 33, 33);
  --tertiary-heading-color: #ffffff;
  --paragraph-color: #000000;
  --agent-name-color: #ffffff;
  --page-heading-color: #000000;
  --button-background-color: #808080;
  --button-text-color: #ffffff;
  --button-hover-background-color: #414344;
  --feedback-button-background: #ffffff;
  --feedback-button-text-color: #ffffff;
  --feedback-button-hover-background: #ffe6e6;
  --tableau-border-color: #000000;
  --tableau-overlay-color: rgba(214, 204, 205, 0.7);
  --weapon-overlay-color: rgba(0, 0, 0, 0.6);
  --weapon-name-color: #ffffff;
  --explication-background-color: rgba(220, 215, 215, 0.911);
  --armes-section-background: rgba(187, 101, 132, 0.911);
  --armes-title-color: #720000;
  --armes-subtitle-color: #000000;
  --armes-text-color: #000000;
  --armes-link-color: #000000;
  --image-caption-color: #000000;
  --page-agent-background: #c73d3d;
  --page-agent-text-color: #000000;
  --duellistes-title-color: #e94560;
  --feedback-form-background-color: #ff6565;
  --feedback-form-title-color: #000000;
  --feedback-form-button-background: #ffffff;
  --feedback-form-button-text-color: #000000;
  --feedback-form-button-hover-background: #ffe6e6;
  --scroll-top-background-color: rgb(202, 121, 159);
  --button-link-background-color: #ffffff;
  --button-link-hover-background-color: rgb(149, 136, 136);
  --footer-text-color: #ffffff;
  --container-paragraph-color: #000000;
  --review-background-color: #ffffff;
  --review-stars-color: gold;
  --review-title-color: #000000;
  --review-meta-color: gray;
  --socials-text-color: #ffffff;
  --social-icon-fill-color: #ffffff;
  --social-icon-hover-fill-color: #000000;
}