html, body { /*style générale de la page*/
    background : linear-gradient(to bottom , rgb(1,5,59) , rgb(26,67,169)); /*Fond dégradé de bleu foncé à bleu clair */
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    list-style-type: disc;
    margin : 0;
    padding: 0;
}

/* Actualités */
.actualites {     
    padding: 40px 0;         
    }
    .actualites h2 {
      text-align: center;
      text-decoration-thickness: 7px;
      font-size: 4em;
      color: white;
      font-family: Arial, sans-serif;
      }
    
    .actualites-conteneur { /* conteneur principale pour afficher les actualités */
    display: flex;              
    justify-content: center; 
    gap: 10px;                 
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */        
    }
    
    .actualite-img { /*imagine des actualités*/
    width: 400px;                
    height: auto;          
    object-fit: cover;      
    border-bottom: 5px solid #ddd;
    }
    
    .Date {/* les différentes date des actualités*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;  /* Taille du texte */          
    color: #f3eded;  
    text-align: left;              
    }
    .titre-actualite {/*titre actualite , ce situe dans la page accueil */ 
        font-size: 30px;           
        color: #000000;                
        font-weight: bold;        
        margin-top: 10px;  
        width: 400px;        
        text-align: left;
        }

        .date {
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 20px;            
          color: #000000;  
          text-align: left;              
          }
        
        .titre-banniere {  /* Titre principal affiché sur une bannière */ 
          font-size: 10em;
          top: 15%;
          transform: translate(-50%, -50%);
          font-family: 'New Rocker';
          color: rgb(255, 255, 255);
          position: absolute;
          top: 10%;
          left: 50%;
          font-weight: bold;
          text-align: center;
        }
        
        .imagedefond {
          background-image: url('../image/fondastrayoru.jpg');
          background-size: cover; 
          background-position: center;
          background-attachment: fixed;
          margin: 0; 
          height: 100%; 
          } 
        
          .fondavis {
            background-image: url('../image/fondavis.jpg');
            background-size: cover; 
            background-position: center;
            background-attachment: fixed;
            margin: 0; 
            height: 100%; 
            } 
/* tout les textes */
a {
    color: white;
    text-decoration: none;
    font-size: 3em;
}
/* tout les titres */
h1
{
text-align: center;

text-decoration-thickness: 7px;
font-size: 4em;
color: black  ;
font-family: Arial, sans-serif;
}	

/* pas utiliser */
h3
{
font-size: 500%;
color: white;
text-align: center;
}

/* textes plus petit */
p
{
font-size: 200%;
color: black;
font-family: optimizespeed;
}

/* la taille pour tout les vidéo*/
video
{
    width: 80%;
    height: 10%;
}
/* le bas des pages */
footer {
color: white;          
padding: 5%;        
text-align: center;     
}

.agent{ /* Conteneur pour les informations sur les agents */
background: var(--podium-cds-color-grey-100);
font-size: 0;
width: 100%;
-webkit-scroll-snap-align: start;
-moz-scroll-snap-align: start;
-ms-scroll-snap-align: start;
scroll-snap-align: start;
aspect-ratio: 1 / 1.25;
}

.imagedelagent{ /* Positionnement et style des images d'agents */
position: fixed;
top: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: flex-end; 
align-items: center; 
}
.imagedelagent img {
  height: 80vh; 
  max-width: 90%; 
  object-fit: contain; 
  max-height: 100%; 
  width: auto; 
  }

  
.boutton a{
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5em;
  }
  
  .boutton a:hover{
  background-color: red;
  }
  
  .bouton {
    position: absolute;
    top: 100px; 
    left: 20px;
    }
    
    button {
    font-family: 'Jaini', sans-serif;
    padding: 8px 25px; 
    font-size: 25px; 
    background-color: #808080; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    button:hover {
    background-color: #414344; 
    }
    
.legrandtitre h1 { /*  un grand titre affiché */
text-transform: uppercase;
font-size: 5em;
color: white;
}

main p {
  color: rgb(53, 95, 230);
  font-size: 3em;
  font-family: 'Julius Sans One', sans-serif;
  line-height: 120%;
  letter-spacing: -0.66px;
  text-align: center;
  }

main {
padding: 2em;
}

p {
margin-top: 1em;
line-height: 1.5;
}

.menu h1 {
color: #1A43A9;
margin: 0;
text-align: center;
font-family: "New Rocker";
}

.menu { /* Barre de navigation principale */ 
  display: flex;
  justify-content: space-between;  
  background-color: rgb(20, 7, 71);
  width: 100%;
  max-width: 100vw;
  padding: 0 1rem;
  box-sizing: border-box;
}
.menu h2 {
  margin: 0;
}

.menu a{ /*couleur et taille des boutons du menu */
text-decoration: none;
color: white; /*couleur de l'écriture des boutons*/
font-weight: bold;
font-size: 55px;
text-align: center;
}

.presentation {
  margin-top: 3em; 
  display: flex;
  justify-content: center;
  width: 100%;
}

.nom p{
font-size: 3em;
color: white;
font-family: Arial, sans-serif;
backdrop-filter: blur(0em);
display: flex;
}

.banniere {
width: 100%;
display: block;
object-fit: cover;
height: 50vh;
flex-shrink: 0;
opacity: 0.4;
}

.filtre {
position: relative;
}

.filtre::after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Fond noir avec opacité de 0.5 */
z-index: 1;  /* S'assure que la superposition est au-dessus de l'image */
}

.liens-menu {
  display: none;
  flex-direction: column; /* Disposer les liens verticalement */
  gap: 10px; /* Espacement entre les liens */
  background-color: white;
  position: absolute;
  top: 65px; /* Positionner en dessous du header */
  left: 0;
  right: 0;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.liens-menu a {
  text-decoration: none;
  font-family: "Jaini", sans-serif;
  color: rgb(28, 23, 179);
  justify-content: space-evenly; 
  font-size: 40px; 
  transition: color 0.3s ease; 
  }

/* Affichage des liens lorsque le menu est actif */
.liens-menu.actif {
  display: flex; /* Afficher les liens lorsque le menu est actif */
}

nav { /*barre de navigation en haut de la page */
display: flex;
align-items: center;
width: 100%;
z-index: 1000;
position: sticky;
top: 0;
z-index: 100;
}

nav a { /* Style pour les liens dans la barre de navigation */ 
text-decoration: none;
font-family: "Jaini", sans-serif;
color: black;
justify-content: space-evenly; 
font-size: 40px; 
margin: 0 60px; 
transition: color 0.5s ease; 
}

nav a:hover {
color: #091d51; 
}


menu a:hover {
color: #1A43A9;
}

/* les armes */
.tableau {
  position: relative; /* Nécessaire pour positionner la bande derrière */
  display: flex; /* Active flexbox */
  flex-wrap: wrap; /* Permet de gérer plusieurs lignes si nécessaire */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  gap: 50px; /* Espacement entre les armes */
  width: 90%; /* Prend toute la largeur de la page */
  padding: 20px; /* Hauteur de la bande */
  margin: 40px auto; /* Ajoute de l'espace autour et centre horizontalement */
  z-index: 1; /* Assure que le contenu est au-dessus de la bande */
  border: 5px solid #000000; /* Contour rose autour du tableau */
  border-radius: 15px;
  height: 130px;/* Centré horizontalement dans la page */
}


.tableau::before { /* Bande semi-transparente en arrière-plan du conteneur des armes */
  content: ''; /* Nécessaire pour ajouter un pseudo-élément */
  position: absolute; /* Positionné par rapport à .tableau */
  top: 0;
  left: 0;
  width: 100%; /* Prend toute la largeur de la bande */
  height: 100%; /* Même hauteur que le tableau */
  background-color: rgba(189, 183, 183, 0.7); /* gris avec 80% d'opacité */
  z-index: -1; /* Place la bande derrière le contenu */
  border-radius: 10px; /* Facultatif : coins arrondis */
}
.arme {
  position: relative;
  width: 200px; /* Ajuste cette largeur si nécessaire */
  height: 100%; /* Assure que la hauteur de l'élément suit celle du tableau */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex; /* Ajoute flexbox ici aussi */
  align-items: center; /* Centre l'image verticalement dans .arme */
  justify-content: center;
  transition: all 0.3s ease; /* Centre l'image horizontalement dans .arme */
}

.arme img {
  width: 100%; /* S'adapte à la largeur du conteneur */
  height: auto; /* Garde les proportions */
  object-fit: contain; /* Ne recadre pas l'image */
  transition: transform 0.s ease;
}

.arme:hover img {
  width: 100%; /* S'adapte à la largeur du conteneur */
  height: auto; /* Garde les proportions */
  object-fit: cover;; /* Zoom léger au survol */
}

.nom { /*texte affiché au-dessus des armes avec un filtre noir transparent*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtre noir transparent */
  display: flex;
  justify-content: center; /* Centre horizontalement le texte */
  align-items: center; /* Centre verticalement le texte */
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.arme:hover .nom { /*Affiche le nom de l'arme lorsqu'on pose le curseur sur l'image */
  opacity: 1; /* Le filtre devient visible */
}


.explication {
display: flex;
margin: 0 auto;
font-size: 10px;
width: 80%;
flex-wrap: wrap;
padding: auto;
max-width: 100%;
background-color: rgba(39, 134, 212, 0.911);
border-radius: 2em;
}

.accueil h1 {
font-family: 'Bebas Neue', sans-serif;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.accueil p {
width: 90%; 
margin: 0 auto;
}

.presentationdevalorant h2 {
font-family: "New Rocker";
font-size: 85px;
font-style: normal;
line-height: 120%; 
letter-spacing: -2.55px;
background: linear-gradient(180deg, #01053b19.46%,  #1a43a939.93%);
-webkit-background-clip: text;
opacity: 0.7; 
-webkit-text-fill-color: #01053b; 
}

.presentationdevalorant a {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Julius Sans One';
  color: white;
  width: 90%;
  }


/* le footer */
.container {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  }
  
  .container p {
  color: black;
  font-size: 1.5em;
  }
  .reviews {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  }
  
  .review {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  }
  
  .stars {
  font-size: 20px;
  color: gold;
  }
  
  .review h3 {
  margin: 10px 0;
  color: black;
  font-size: 2em;
  }
  
  .commenter {
  font-size: 12px;
  color: gray;
  }
  
  .socials {
  margin-bottom: 20px;
  }
  
  .socials p {
  margin-bottom: 10px;
  color: white;
  font-size: 18px;
  }
  
  .icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  }
  
  .feedback-button {
  background-color: white;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .feedback-button:hover {
  background-color: #ffe6e6;
  }

  .page_agent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 20px;
    background-color: #0a0a65;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
  }
    
  /* Titre des catégories d'agents */
  .page_agent h2 {
    font-size: 1.8rem;
    margin: 0;
    flex: 1;
    text-align: left;
  }

  .Arme {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 13px;
  width: 92%;
  padding: auto;
  max-width: 100%;
  background-color: rgba(39, 134, 212, 0.911);
  border-radius: 2em;
  margin-top: 30px;
  }
  
  .armes h2 {
  color:#01053b19 ;
  text-align: left;
  font-size: 4em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  }
  .armes h3 {
  color: black;
  text-align: left;
  font-size: 350%;
  margin-top: 0.3em;
  margin-bottom: 0.1em;
  margin-left: 30px;
  margin-right: 30px;
  }
  
  .armes p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  font-size: 2em;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  }
  
  .armes a {
  color: black;
  font-size: 2.5em;
  text-align: left;
  }
  
  footer .socials a:hover svg {
  fill: black;
  }
  
  footer .socials a svg {
  width: 1em;
  height: 1.5em;
  margin: 0 20px;
  fill: white;
  }
  
  .image p {
  color: black;
  font-size: 3em;
  text-align: center;
    margin-top: 10px;
  font-weight: bold;
  
  }
  
  .duellistes {
  text-align: center;
  padding: 2rem 1rem;
  }
  
  .duellistes h1 {
  font-size: 2.5rem;
  color: #1a43a939;
  }
  
  .duellistes .description {
  font-size: 1rem;
  margin: 1rem auto;
  max-width: 600px;
  line-height: 1.5;
  }
  
  .agents-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  }
  
  .agent {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10em;
  border-radius: 100px;
  width: 500px;
  }
  
  .agent img {
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  }
  
  .agent .name {
  margin-top: 0.5rem;
  font-weight: bold;
  }
  .agent img:hover{
  transform: scale(1.1);
  }
  
  .agent .name {
  margin-top: 1;
  font-size: 1.5rem;  
  color: white;
  }
  .container {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  }
  
  .feedback-form {
  background-color: #1a43a939;
  opacity: 0.9;
  padding: 40px;
  border-radius: 2em;
  display: inline-block;
  text-align: left;
  width: 50%;
  font-size: 12px;
  }
  
  .feedback-form h2 {
  text-align: center;
  font-family: 'Jaini', sans-serif;
  font-size: 70px;
  margin: 0 auto;
  }
  
  .feedback-form label {
  display: block;
  margin: 1em 1em;
  }
  
  .feedback-form input[type="text"],
  .feedback-form input[type="radio"] {
  margin-bottom: 10px;
  }
  
  .feedback-form button {
  margin-left: 0%;
  font-size: 6px;
  width: 90px;
  height:  30px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  .feedback-form button:hover {
  background-color: #ffe6e6;
  }
  
  .feedback-form input[type="text"] {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  }
  
  .labelavis {
  width: 50%;
  border: none;
  border-radius: 5px;
  }
  
  .hautpage {
    background: rgb(39, 134, 212);
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
  }
  
  .fleche-haut {
    width: 50px;
  }


/* le bouton pour changre de mode  */
.mode-toggle {
  position: fixed;
  top: 3em;
  right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #414344;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.mode-toggle:hover {
  background-color: #ff4655;
}

iframe {
  width: 45em;
  height: 26em;
}

@media (max-width: 768px) {

.menu {
  align-items: center; 
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding:10px;
  height: auto;
  position: fixed;
}

.menu h2 a{ 
  font-size: 25px; 
  }

.liens-menu {
  position: fixed;
  display: none; /* Masquer le menu par défaut */
  flex-direction: column;
  gap: 10px;
  background-color: white;
  position: absolute; /* Positionner absolument par rapport au bouton */
  top: 100%; /* Le menu apparaît juste en dessous du bouton */
  left: 0;
  right: 0;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Assure que le menu est sous le bouton */
}

/* Affichage du bouton de menu aligné à droite sur les petits écrans */
.boutonmenu {
  display: inline-block;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: auto;
  z-index: 2;
}
.liens-menu a {
  font-size: 30px ;
}

.titre-banniere {
  font-size: 4em;
}

.menu h2 {
  margin: 0 60px; 
  font-size: 20px;
}

.menu a {
font-size: 30px;
}

.titreaccueil {
  font-size: 2em;
}

.actualites h2 {
font-size:2em;
}

/* .page_agent {
  flex-direction: column; 
  align-items: center; 
  padding: 10px;
}

.page_agent h2 {
  font-size: 1.5rem; 
  text-align: center; 
  margin-bottom: 10px; 
}

.page_agent img {
  width: 100%; 
  max-width: 80px; 
  margin: 10px 0;
}

.page_agent p {
  margin: 10px 0; 
  text-align: center; 
  font-size: 25px;;
} */


.actualites-conteneur {
  text-align: center;
}
.actualites-conteneur {
  display: flex; /* Active le mode Flexbox */
  flex-direction: column; /* Aligne les éléments en colonne */
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
  margin: 0 auto; /* Centrer le conteneur */
  
}
.arme {
width: 150px;
}

.explication {
font-size: 0.9em;
width: 100%;
padding: 20px;
}

.feedback-form {
width: 90%;
font-size: 0.8em;
}

.feedback-form h2 {
font-size: 2em;
}

iframe {
width: 30em;
height: 16em;
}

.presentationdevalorant h2 {
  font-size: 300%;
}

.presentationdevalorant a {
  font-size: 90%;
}

.agent {
width: 100%;
padding: 5em;
border-radius: 10px;
}

.agent img {
width: 80%;
}

.agent .name {
font-size: 1.2rem;
}

.duellistes h1 {
font-size: 1.5rem;
}

.duellistes .description {
font-size: 0.9rem;
}

.banniere {
height: 20vh;
}

.hautpage {
right: 20px;
bottom: 20px;
}

.fleche-haut {
width: 30px;
}

.container {
  padding: 1em;
}

.container p {
  font-size: 1em;
}

.reviews {
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.review {
  width: 90%; /* Prend presque toute la largeur du mobile */
  padding: 15px;
}

.review h3 {
  font-size: 1.2em;
}

.stars {
  font-size: 16px;
}

.socials p {
  font-size: 16px;
}

.icons img {
  width: 30px; /* Réduit la taille des icônes sociales */
  height: 30px;
  margin: 0 5px; /* Réduit l'espace entre les icônes */
}
main p {

  font-size: 1em;
  }
}

@media (min-width: 769px) and (max-width: 980px) {

  .titre-banniere {
    font-size: 5em;
  }

  .banniere {
    height: 30vh;
  }
  
  iframe {
    width: 35em;
    height: 20em;
  }
  
  .presentationdevalorant a {
    font-size: 130%;
  }
  .presentationdevalorant h2 {
    font-size: 370%;
  }
  main p {
    font-size: 1em;    
  }
}
